.card.profile-summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */
}

@media (min-width: 640px) {
  .card.profile-summary {
    flex-direction: row;
    align-items: center;
  }
}

.profile-details {
  display: grid;
  gap: 1rem; /* 16px */
}

.profile-details__main {
  display: grid;
  gap: 0.375rem; /* 6px */
}

#user-full_name {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

#user-email {
  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
}

.profile-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */

  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
}

.profile-meta strong {
  font-weight: 600;
}

.card.profile-form {
  display: grid;
  gap: 1.5rem; /* 24px */
  height: fit-content;
}

.profile-form__header {
  display: grid;
  gap: 0.5rem; /* 8px */
}

#profile-form {
  display: grid;
  gap: 1rem; /* 16px */
}

.profile-form__footer {
  display: flex;
  gap: 0.75rem; /* 12px */
  justify-content: end;
  margin-top: 0.5rem; /* 8px */
}

.profile-infos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem; /* 24px */
}

@media (min-width: 640px) {
  .profile-infos {
    grid-template-columns: repeat(3, 1fr);
  }

  .profile-form {
    grid-column: 1 / 3;
  }
}

.profile-ranking_languages-spoken {
  display: grid;
  gap: 1.5rem; /* 24px */
}

.profile-ranking {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */
  height: fit-content;
}

#ranking-top-polyglots-position {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
}

.ranking-row {
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

.ranking-col {
  display: grid;
  gap: 0.25rem; /* 4px */
}

.card-content {
  display: grid;
  gap: 1rem; /* 16px */
}

.languages-spoken {
  display: grid;
  gap: 1.5rem; /* 24px */
}

.languages-spoken__header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem; /* 24px */
}

.languages-spoken__header {
  display: grid;
  gap: 0.5rem; /* 8px */
}

.btn-secondary img {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
}

.languages-spoken__list {
  display: grid;
  gap: 1rem; /* 16px */
}

.language-item {
  padding: 0.75rem; /* 12px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem; /* 24px */
  border-radius: var(--radius-md);
  border: var(--border-width) solid var(--border);
}

.language-item__info {
  display: grid;
  gap: 0.25rem; /* 4px */
}

.language-item__name {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
}

.language-item__fluency.badge {
  font-size: 0.75rem;
}

.btn-language-remove {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

.btn-language-remove img {
  width: 1.125rem; /* 18px */
  height: 1.125rem; /* 18px */
}

.empty-languages-spoken__list {
  color: var(--muted-foreground);
  font-size: 0.875rem; /* 14px */
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  padding: 1rem; /* 16px */

  justify-content: center;
  align-items: center;

  overflow: auto;
  background-color: var(--modal-background);
}

.modal-content__header {
  display: grid;
  gap: 0.5rem; /* 8px */
}

.modal-content__header-title {
  font-size: 1.125rem; /* 18px */
}

.modal-content {
  position: relative;

  display: grid;
  gap: 1rem; /* 16px */

  width: 100%;
  max-width: var(--container-sm);
  padding: 1.5rem; /* 24px */

  background-color: var(--background);

  border-radius: var(--radius-md);
  border: var(--border-width) solid var(--border);
}

#language-form {
  display: grid;
  gap: 1rem;
}

.modal-content__footer {
  display: flex;
  justify-content: end;
  gap: 0.75rem; /* 12px */

  margin-top: 0.5rem; /* 8px */
}

.modal-close img {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
