.card.profile-summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */
}

/* Tablet: 2 columns */
@media (min-width: 640px) {
  .card.profile-summary {
    flex-direction: row;
    align-items: center;
  }
}

.profile-details {
  display: grid;
  gap: 1rem; /* 16px */
}

.profile-details__main {
  display: grid;
  gap: 0.375rem; /* 6px */
}

#user-full_name {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

#user-email {
  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
}

.profile-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */

  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
}

.profile-meta strong {
  font-weight: 600;
}

.card.profile-form {
  display: grid;
  gap: 1.5rem; /* 24px */
}

.profile-form__header {
  display: grid;
  gap: 0.5rem; /* 8px */
}

#profile-form {
  display: grid;
  gap: 1rem; /* 16px */
}

.profile-form__footer {
  display: flex;
  gap: 0.75rem; /* 12px */
  justify-content: end;
  margin-top: 0.5rem; /* 8px */
}

.profile-infos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem; /* 24px */
}

/* Tablet: 2 columns */
@media (min-width: 640px) {
  .profile-infos {
    grid-template-columns: repeat(3, 1fr);
  }

  .profile-form {
    grid-column: 1 / 3;
  }
}

.profile-ranking_languages-spoken {
  display: grid;
  gap: 1.5rem; /* 24px */
}

.profile-ranking {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */
  height: fit-content;
}

#ranking-top-polyglots-position {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
}

.ranking-row {
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

.ranking-col {
  display: grid;
  gap: 0.25rem; /* 4px */
}

.card-content {
  display: grid;
  gap: 1rem; /* 16px */
}
