/* Import Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: hsl(0 0% 100%);
  --modal-background: hsl(0 0% 0% / 70%);
  --foreground: hsl(0 0% 0%);

  --primary: hsl(174 97% 15%);
  --primary-opc: hsl(174 97% 15% / 10%);
  --primary-foreground: hsl(0 0% 100%);

  --secondary: hsl(0 0% 80%);
  --secondary-foreground: hsl(0 0% 0%);

  --muted: hsl(0 0% 70%);
  --muted-foreground: hsl(0 0% 20%);

  --border: hsl(0 0% 0%);
  --input: hsl(0 0% 0%);

  --yellow-500: hsl(46 100% 53%);
  --yellow-900: hsl(45 89% 11%);

  --destructive: hsl(0 100% 50%);
  --destructive-opc: hsl(0 100% 50% / 10%);
  --destructive-foreground: hsl(0 0% 100%);

  --container-sm: 27rem; /* 459px */
  --container-lg: 64rem; /* 1024px */

  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.625rem; /* 10px */
  --radius-xl: 0.875rem; /* 14px */

  --border-width: 0.0625rem; /* 1px */

  --transition-duration: 50ms;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  background: none;
  color: hsl(var(--foreground));
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--muted);
}

input {
  height: 2.25rem; /* 36px */

  padding: 0.25rem 0.75rem; /* 4px 12px */

  background-color: var(--background);

  border: var(--border-width) solid var(--border);
  border-radius: var(--radius-md);
}

input:disabled {
  opacity: 70%;
  cursor: not-allowed;
}

.btn {
  height: 2.125rem; /* 34px */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem; /* 6px */

  padding: 0.5rem 1rem; /* 8px 16px */

  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  border-radius: var(--radius-md);

  text-decoration: none;

  cursor: pointer;
}

.btn:hover {
  opacity: 90%;
}

.btn:disabled {
  opacity: 70%;
  cursor: not-allowed;
}

input,
.btn {
  transition: all var(--transition-duration);
}

.btn:focus,
select:focus {
  outline: var(--border-width) solid var(--border);
  outline-offset: var(--border-width);
}

input:not(:disabled):active,
.btn:not(:disabled):active,
select:not(:disabled):active {
  transform: scale(0.98);
}

select {
  height: 2.25rem; /* 36px */
  padding: 0.25rem 2.5rem 0.25rem 0.75rem; /* 4px 40px 4px 12 px */
  border-radius: var(--radius-md);
  border: var(--border-width) solid var(--input);

  /* Remove a seta nativa */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Adiciona uma seta custom no lado direito */
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem; /* 16px */
}

.btn-primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.btn-outline {
  border: var(--border-width) solid var(--input);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--muted-foreground);
}

.btn-ghost:hover {
  background-color: var(--secondary);
}

.btn-sm {
  height: 1.875rem; /* 16px */
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; /* 24px */

  width: 100%;
  height: 100vh;
  max-width: var(--container-sm);

  padding: 1.5rem; /* 24px */

  margin: 0 auto;
}

.auth-wrapper__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */

  padding: 1.5rem; /* 24px */

  background-color: var(--background);
  border-radius: var(--radius-xl);
  border: var(--border-width) solid var(--border);
}

.auth-form__header {
  display: grid;
  place-items: center;
  gap: 0.5rem; /* 8px */
}

.auth-form__header-title {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}

.auth-form__header-subtitle {
  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
  text-align: center;
}

#message-box {
  display: none;
  padding: 0.75rem; /* 12px */

  font-size: 0.875rem; /* 14px */

  border-radius: var(--radius-md);
}

.error-message {
  background-color: var(--destructive-opc);
  color: var(--destructive);
  border: var(--border-width) solid var(--destructive);
}

.success-message {
  background-color: var(--primary-opc);
  color: var(--primary);
  border: var(--border-width) solid var(--primary);
}

.auth-form {
  display: grid;
  gap: 1rem; /* 16px */
}

.form-group {
  display: grid;
  gap: 0.5rem; /* 8px */
}

.form-label {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  width: fit-content;
}

.auth-form__footer {
  display: grid;
  gap: 0.5rem; /* 8px */

  margin-top: 0.5rem; /* 8px */
}

.auth-form__footer-small-text {
  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
  text-align: center;
}

.auth-form__disclaimer {
  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
  text-align: center;
}

.app-header {
  position: sticky;
  top: 0;
  left: 0;

  height: 3.5rem; /* 56px */

  display: flex;
  align-items: center;

  padding: 0 1.5rem; /* 24px */

  background-color: var(--background);
  border-bottom: var(--border-width) solid var(--border);
}

.app-header__wrapper {
  width: 100%;
  max-width: var(--container-lg);

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}

.app-header-wrapper__logo {
  height: 1.75rem; /* 28px */
}

.app-header__nav {
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

.app-header__nav_link {
  color: var(--muted-foreground);
  font-size: 0.875rem; /* 14px */
  text-decoration: none;
}

.app-header__nav_link:hover {
  text-decoration: underline;
}

.app-header__nav_link.active {
  color: var(--primary);
  text-decoration: underline;
}

.profile {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  background-color: var(--secondary);
  color: var(--primary);
  font-weight: 500;
  font-size: 0.75rem; /* 12px */
  text-decoration: none;

  border-radius: 50%;
}

.profile.xl {
  width: 6rem; /* 96px */
  height: 6rem; /* 96px */

  font-size: 2.25rem; /* 36px */
}

.app-header__nav_link:nth-child(3) {
  text-decoration: none;
}

.app-wrapper {
  padding: 1.5rem; /* 24px */
}

.app-wrapper__container {
  width: 100%;
  max-width: var(--container-lg);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */
}

.card {
  padding: 1.5rem /* 24px */;
  background-color: var(--background);
  border: var(--border-width) solid var(--border);
  border-radius: var(--radius-xl);
}

.card-description {
  font-size: 0.875rem; /* 14px */
  color: var(--muted-foreground);
}

.card-value {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

.card-title {
  font-size: 1rem; /* 16px */
  font-weight: 600;
}

.card-icon {
  display: grid;
  place-items: center;

  background-color: var(--secondary);
  border-radius: var(--radius-sm);
}

.card-icon.lg {
  width: 2.75rem; /* 44px */
  height: 2.75rem; /* 44px */
}

.card-icon.lg img {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
}

.card-icon.md {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
}

.card-icon.md img {
  width: 1.375rem; /* 22 */
  height: 1.375rem; /* 22 */
}

.badge {
  padding: 0.125rem 0.5rem; /* 2px 8px */

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary);
  border-radius: var(--radius-sm);

  color: var(--primary);
  font-size: 0.75rem; /* 12px */
  font-weight: 500;
}
