.index-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; /* 24px */

  width: 100%;
  height: 100vh;
  max-width: var(--container-sm);

  padding: 1.5rem; /* 24px */

  margin: 0 auto;
}

.index-wrapper__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */

  padding: 1.5rem; /* 24px */

  background-color: var(--background);
  border-radius: var(--radius-xl);
  border: var(--border-width) solid var(--border);

  text-align: center;
}

.welcome-message__container {
  display: grid;
  gap: 0.5rem; /* 8px */
}

.logo {
  height: 1.75rem; /* 28px */
}

.welcome-message__title {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}

.welcome-message__subtitle {
  color: var(--muted-foreground);
  font-size: 0.875rem; /* 14px */
}

.index-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem; /* 12px */
}
