.language-form__container {
  display: grid;
  gap: 1rem;
}

#language-form {
  display: grid;
  gap: 1rem; /* 16px */
}

.language-form__foter {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem; /* 12px */
}
